joe-cockpit-sandbox/src/main/java/sos/scheduler/editor/events2actions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<!-- 21.09.2009, mo: JIRA 352 neue Attrubte expiration-period und expiration-cycle für das Element <event>, nur wenn der Vaterknoten <add_event> ist-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="action">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="events"/>
				<xsd:element ref="commands"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="logic" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="actions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="action" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="job">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="description" minOccurs="0">
					<xsd:complexType mixed="true">
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="include"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="lock.use" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="lock" type="String" use="required"/>
						<xsd:attribute name="exclusive" type="Yes_no"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="params" minOccurs="0"/>
				<xsd:element name="environment" type="environment" minOccurs="0"/>
				<xsd:choice minOccurs="0">
					<xsd:element ref="script"/>
					<xsd:element name="process">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="environment" type="environment" minOccurs="0"/>
								<!-- Veraltet -->
							</xsd:sequence>
							<xsd:attribute name="file" type="File" use="required"/>
							<xsd:attribute name="param" type="String"/>
							<xsd:attribute name="log_file" type="File"/>
							<xsd:attribute name="ignore_error" type="Yes_no"/>
							<xsd:attribute name="ignore_signal" type="Yes_no"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="monitor" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="script"/>
						</xsd:sequence>
						<xsd:attribute name="name" type="Name"/>
						<xsd:attribute name="ordering" type="xsd:nonNegativeInteger"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="start_when_directory_changed" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="directory" type="File" use="required"/>
						<xsd:attribute name="regex" type="String"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="delay_after_error" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="error_count" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="delay" use="required">
							<xsd:simpleType>
								<xsd:restriction base="String"/>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="delay_order_after_setback" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="setback_count" type="xsd:positiveInteger" use="required"/>
						<xsd:attribute name="delay" type="Duration"/>
						<xsd:attribute name="is_maximum" type="Yes_no"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="run_time" type="run_time" minOccurs="0"/>
				<xsd:element name="commands" type="Commands" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="Name"/>
			<xsd:attribute name="visible" type="Yes_no_never"/>
			<xsd:attribute name="priority" type="Process_priority"/>
			<xsd:attribute name="temporary" type="Yes_no"/>
			<xsd:attribute name="spooler_id" type="Name"/>
			<xsd:attribute name="title" type="String"/>
			<xsd:attribute name="log_append" type="Yes_no"/>
			<xsd:attribute name="order" type="Yes_no"/>
			<xsd:attribute name="separate_process" type="Yes_no"/>
			<xsd:attribute name="tasks" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="min_tasks" type="xsd:positiveInteger"/>
			<xsd:attribute name="timeout" type="Duration"/>
			<xsd:attribute name="idle_timeout" type="Duration_or_never"/>
			<xsd:attribute name="force_idle_timeout" type="Yes_no"/>
			<xsd:attribute name="process_class" type="Path"/>
			<xsd:attribute name="mail_xsdlt_stylesheet" type="File"/>
			<xsd:attribute name="java_options" type="String"/>
			<xsd:attribute name="stop_on_error" type="Yes_no"/>
			<xsd:attribute name="ignore_signals">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="all"/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:list itemType="Unix_signal"/>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="replace" type="Yes_no"/>
			<!-- Veraltet, wird ignoriert -->
			<!-- F_ 1.4.06 timeout="0" soll erlaubt sein (kein Aprilscherz) -->
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="command">
		<xsd:complexType>
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="terminate" minOccurs="0"/>
				<xsd:element ref="add_order" minOccurs="0"/>
				<xsd:element ref="kill_task" minOccurs="0"/>
				<xsd:element ref="add_jobs" minOccurs="0"/>
				<xsd:element name="check_folders" type="check_folders" minOccurs="0"/>
				<xsd:element name="lock" type="lock" minOccurs="0"/>
				<xsd:element ref="modify_order" minOccurs="0"/>
				<xsd:element ref="modify_spooler" minOccurs="0"/>
				<xsd:element name="lock.remove" type="lock.remove" minOccurs="0"/>
				<xsd:element ref="modify_job" minOccurs="0"/>
				<xsd:element name="run_time" type="run_time" minOccurs="0"/>
				<xsd:element ref="start_job" minOccurs="0"/>
				<xsd:element ref="show_calendar" minOccurs="0"/>
				<xsd:element ref="remove_order" minOccurs="0"/>
				<xsd:element name="order" type="order" minOccurs="0"/>
				<xsd:element ref="job_chain.modify" minOccurs="0"/>
				<xsd:element ref="job_chain_node.modify" minOccurs="0"/>
				<xsd:element ref="remove_job_chain" minOccurs="0"/>
				<xsd:element ref="register_remote_scheduler" minOccurs="0"/>
				<xsd:element name="process_class" type="process_class" minOccurs="0"/>
				<xsd:element name="process_class.remove" type="process_class.remove" minOccurs="0"/>
				<xsd:element ref="show_state" minOccurs="0"/>
				<xsd:element ref="show_schedulers" minOccurs="0"/>
				<xsd:element ref="show_job" minOccurs="0"/>
				<xsd:element ref="remote_scheduler.start_remote_task" minOccurs="0"/>
				<xsd:element ref="show_history" minOccurs="0"/>
				<xsd:element ref="show_jobs" minOccurs="0"/>
				<xsd:element ref="show_job_chains" minOccurs="0"/>
				<xsd:element ref="show_order" minOccurs="0"/>
				<xsd:element ref="show_job_chain" minOccurs="0"/>
				<xsd:element ref="s" minOccurs="0"/>
				<xsd:element ref="show_task" minOccurs="0"/>
				<xsd:element ref="service_request" minOccurs="0"/>
				<xsd:element ref="remote_scheduler.remote_task.close" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="scheduler_host" type="xsd:string" use="optional"/>
			<xsd:attribute name="scheduler_port" type="xsd:short" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remove_event">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="event"  maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="debug" type="xsd:anySimpleType" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="add_event">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="event"  maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="event">
		<xsd:complexType>
			<xsd:attribute name="exit_code" type="xsd:string"/>
			<xsd:attribute name="event_title" type="xsd:string"/>
			<xsd:attribute name="event_class" type="xsd:string"/>
			<xsd:attribute name="event_id" type="xsd:string"/>
			<xsd:attribute name="job_name" type="xsd:string"/>
			<xsd:attribute name="job_chain" type="xsd:string"/>
			<xsd:attribute name="order_id" type="xsd:string"/>
			<xsd:attribute name="comment" type="xsd:string"/>
			<xsd:attribute name="event_name" type="xsd:string"/>
			<xsd:attribute name="expiration_period" type="xsd:time"/>
			<xsd:attribute name="expiration_cycle" type="xsd:time"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="event_group">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="event" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="logic" type="xsd:string" use="optional"/>
			<xsd:attribute name="group" type="xsd:string" use="required"/>
			<xsd:attribute name="event_class" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="events">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="event_group" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="logic" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="include">
		<xsd:complexType>
			<xsd:attribute name="file" type="File" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="holiday">
		<xsd:complexType>
			<xsd:attribute name="date" type="String" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="holidays">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="holiday"/>
				<xsd:element ref="include"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="kill_task">
		<xsd:complexType>
			<xsd:attribute name="job" type="Path" use="required"/>
			<xsd:attribute name="id" type="Task_id" use="required"/>
			<xsd:attribute name="immediately" type="Yes_no"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="modify_job">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="run_time" type="run_time" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="job" type="Path" use="required"/>
			<xsd:attribute name="cmd">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="stop"/>
						<xsd:enumeration value="unstop"/>
						<xsd:enumeration value="start"/>
						<xsd:enumeration value="wake"/>
						<xsd:enumeration value="end"/>
						<xsd:enumeration value="suspend"/>
						<xsd:enumeration value="continue"/>
						<xsd:enumeration value="reread"/>
						<xsd:enumeration value="remove"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="modify_order">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="params" minOccurs="0"/>
				<xsd:element name="xml_payload" type="Xml_payload" minOccurs="0"/>
				<xsd:element name="run_time" type="run_time" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="order" type="Order_id" use="required"/>
			<xsd:attribute name="priority" type="xsd:integer"/>
			<xsd:attribute name="title" type="String"/>
			<xsd:attribute name="state" type="String"/>
			<xsd:attribute name="setback" type="No"/>
			<xsd:attribute name="suspended" type="Yes_no"/>
			<xsd:attribute name="at" type="Date_time_with_now"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="modify_spooler">
		<xsd:complexType>
			<xsd:attribute name="cmd">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="pause"/>
						<xsd:enumeration value="continue"/>
						<xsd:enumeration value="stop"/>
						<xsd:enumeration value="reload"/>
						<xsd:enumeration value="terminate"/>
						<xsd:enumeration value="terminate_and_restart"/>
						<xsd:enumeration value="let_run_terminate_and_restart"/>
						<xsd:enumeration value="abort_immediately"/>
						<xsd:enumeration value="abort_immediately_and_restart"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="timeout" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="job_chain.modify">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="state">
				<xsd:simpleType>
					<xsd:restriction base="String">
						<xsd:enumeration value="running"/>
						<xsd:enumeration value="stopped"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="job_chain_node.modify">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="state" type="String" use="required"/>
			<xsd:attribute name="action" type="Job_chain_node.Action"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="register_remote_scheduler">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ERROR" minOccurs="0">
					<xsd:complexType/>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="version" type="String"/>
			<xsd:attribute name="scheduler_id" type="String"/>
			<xsd:attribute name="tcp_port" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="udp_port" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="is_cluster_member" type="String"/>
			<xsd:attribute name="logoff" type="Yes_no"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remove_job_chain">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="service_request">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="web_service" type="web_service" minOccurs="0"/>
				<xsd:element name="content">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:any namespace="##any"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="url" type="String"/>
			<xsd:attribute name="url_path" type="String"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="commands" type="Commands"/>
	<xsd:complexType name="Commands">
		<xsd:choice maxOccurs="unbounded">
			<xsd:choice>
				<xsd:element ref="command" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:element ref="add_event" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="remove_event" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="add_jobs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="job" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="add_order">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="order">
					<xsd:attribute name="end_state" type="String"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="order" type="order"/>
	<xsd:complexType name="order">
		<xsd:sequence>
			<xsd:element ref="params" minOccurs="0"/>
			<xsd:element name="run_time" type="run_time" minOccurs="0"/>
			<xsd:element name="payload" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any processContents="skip"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="xml_payload" type="Xml_payload" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="job_chain" type="Path"/>
		<xsd:attribute name="id" type="Order_id"/>
		<xsd:attribute name="priority" type="xsd:integer"/>
		<xsd:attribute name="title" type="String"/>
		<xsd:attribute name="state" type="String"/>
		<xsd:attribute name="web_service" type="Name"/>
		<xsd:attribute name="replace" type="Yes_no"/>
		<xsd:attribute name="at" type="Date_time_with_now"/>
		<xsd:attribute name="suspended" type="Yes_no"/>
	</xsd:complexType>
	<xsd:element name="params">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="param">
						<xsd:complexType>
							<xsd:attribute name="name" type="String" use="required"/>
							<xsd:attribute name="value" type="String" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="copy_params">
						<xsd:complexType>
							<xsd:attribute name="from" use="required">
								<xsd:annotation>
									<xsd:documentation>Only valid in element job/commands/start_job and job/commands/add_order</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:NMTOKEN">
										<xsd:enumeration value="task"/>
										<xsd:enumeration value="order"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="include">
						<xsd:complexType>
							<xsd:attribute name="file" type="File" use="required"/>
							<xsd:attribute name="node" type="String"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="period">
		<xsd:complexType>
			<xsd:attribute name="single_start" type="Time_of_day"/>
			<xsd:attribute name="begin" type="Time_of_day"/>
			<xsd:attribute name="end" type="Time_of_day"/>
			<xsd:attribute name="let_run" type="Yes_no"/>
			<xsd:attribute name="repeat" type="Duration"/>
			<xsd:attribute name="absolute_repeat" type="Duration"/>
			<xsd:attribute name="start_once" type="Yes_no">
				<xsd:annotation>
					<xsd:documentation>Test only for Joacim Zschimmer</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remove_order">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="order" type="Order_id" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="s" type="Show_state"/>
	<xsd:element name="script">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="include"/>
			</xsd:choice>
			<xsd:attribute name="language" type="Name"/>
			<xsd:attribute name="use_engine">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="task"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="com_class" type="String"/>
			<xsd:attribute name="filename" type="File"/>
			<xsd:attribute name="java_class" type="String"/>
			<xsd:attribute name="recompile" type="Yes_no"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_calendar">
		<xsd:complexType>
			<xsd:attribute name="from" type="xsd:dateTime"/>
			<xsd:attribute name="before" type="xsd:dateTime"/>
			<xsd:attribute name="limit" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="what" type="What"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_history">
		<xsd:complexType>
			<xsd:attribute name="job" type="Path" use="required"/>
			<xsd:attribute name="id" type="Task_id"/>
			<xsd:attribute name="prev" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="next" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="what" type="What"/>
			<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_job">
		<xsd:complexType>
			<xsd:attribute name="job" type="Path" use="required"/>
			<xsd:attribute name="job_chain" type="Path"/>
			<xsd:attribute name="what" type="What"/>
			<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="max_task_history" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_job_chain">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="what" type="What"/>
			<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="max_order_history" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_job_chains">
		<xsd:complexType>
			<xsd:attribute name="what" type="Path"/>
			<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="max_order_history" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_jobs">
		<xsd:complexType>
			<xsd:attribute name="what" type="What"/>
			<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="max_task_history" type="xsd:nonNegativeInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_order">
		<xsd:complexType>
			<xsd:attribute name="job_chain" type="Path" use="required"/>
			<xsd:attribute name="order" type="Order_id"/>
			<xsd:attribute name="history_id" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="what" type="What"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="show_schedulers" type="Show_state"/>
	<xsd:element name="show_state" type="Show_state"/>
	<xsd:complexType name="Show_state">
		<xsd:attribute name="what" type="String"/>
		<xsd:attribute name="max_orders" type="xsd:nonNegativeInteger"/>
		<xsd:attribute name="max_order_history" type="xsd:nonNegativeInteger"/>
		<xsd:attribute name="max_task_history" type="xsd:nonNegativeInteger"/>
		<xsd:attribute name="path" type="Path"/>
	</xsd:complexType>
	<xsd:element name="show_task">
		<xsd:complexType>
			<xsd:attribute name="id" type="Task_id" use="required"/>
			<xsd:attribute name="what" type="What"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="start_job">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="params" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="job" type="Path" use="required"/>
			<xsd:attribute name="name" type="Name"/>
			<xsd:attribute name="at" type="Date_time_with_now_or_period"/>
			<xsd:attribute name="after" type="xsd:nonNegativeInteger"/>
			<xsd:attribute name="web_service" type="Name"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remote_scheduler.start_remote_task">
		<xsd:complexType>
			<xsd:attribute name="tcp_port" type="xsd:nonNegativeInteger" use="required"/>
			<xsd:attribute name="kind">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="process"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="remote_scheduler.remote_task.close">
		<xsd:complexType>
			<xsd:attribute name="process_id" type="xsd:long" use="required"/>
			<xsd:attribute name="kill" type="Yes_no"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="terminate">
		<xsd:complexType>
			<xsd:attribute name="all_schedulers" type="Yes_no"/>
			<xsd:attribute name="restart" type="Yes_no"/>
			<xsd:attribute name="timeout" type="xsd:integer"/>
			<xsd:attribute name="continue_exclusive_operation" type="Yes_no"/>
			<xsd:attribute name="cluster_member_id" type="String"/>
			<xsd:attribute name="delete_dead_entry" type="Yes_no"/>
		</xsd:complexType>
	</xsd:element>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ELEMENT-TYPEN-->
	<xsd:complexType name="check_folders"/>
	<xsd:complexType name="configuration.directory">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="configuration.directory" type="configuration.directory"/>
				<xsd:element name="configuration.file" type="configuration.file"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" type="String"/>
	</xsd:complexType>
	<xsd:complexType name="configuration.file">
		<xsd:attribute name="name" type="String" use="required"/>
		<xsd:attribute name="last_write_time" type="xsd:dateTime"/>
		<xsd:attribute name="md5" type="Md5"/>
		<!--xsd:sequence>
            <xsd:element name="content" type="content"/>
        </xsd:sequence-->
	</xsd:complexType>
	<xsd:complexType name="environment">
		<xsd:sequence>
			<xsd:element name="variable" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="name" type="String" use="required"/>
					<xsd:attribute name="value" type="String" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="http.authentication">
		<xsd:sequence>
			<xsd:element name="http.users">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="http.user" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="name" type="Name" use="required"/>
								<xsd:attribute name="password_md5" type="Md5_checksum" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="scheme">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="basic"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="http_directory">
		<xsd:attribute name="url_path" type="Url_path" use="required"/>
		<xsd:attribute name="path" use="required">
			<xsd:simpleType>
				<xsd:restriction base="String">
					<xsd:pattern value=".+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="lock">
		<xsd:attribute name="name" type="Name"/>
		<xsd:attribute name="max_non_exclusive" type="xsd:nonNegativeInteger"/>
	</xsd:complexType>
	<xsd:complexType name="lock.remove">
		<xsd:attribute name="lock" type="Path" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="monthdays">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:choice>
				<xsd:element name="day" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="day" use="required">
							<xsd:simpleType>
								<xsd:list>
									<xsd:simpleType>
										<xsd:restriction base="xsd:positiveInteger">
											<xsd:maxInclusive value="31"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:list>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="weekday" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="day" use="required">
							<xsd:simpleType>
								<xsd:list itemType="Weekday"/>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="which" use="required">
							<xsd:simpleType>
								<xsd:union>
									<xsd:simpleType>
										<xsd:restriction base="xsd:positiveInteger">
											<xsd:maxInclusive value="4"/>
										</xsd:restriction>
									</xsd:simpleType>
									<xsd:simpleType>
										<xsd:restriction base="xsd:negativeInteger">
											<xsd:minInclusive value="-4"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:union>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="process_class">
		<xsd:attribute name="name" type="Name"/>
		<xsd:attribute name="max_processes" type="xsd:nonNegativeInteger"/>
		<xsd:attribute name="remote_scheduler" type="String"/>
		<xsd:attribute name="spooler_id" type="Name"/>
		<xsd:attribute name="replace" type="Yes_no"/>
	</xsd:complexType>
	<xsd:complexType name="process_class.remove">
		<xsd:attribute name="process_class" type="Path"/>
	</xsd:complexType>
	<xsd:complexType name="run_time">
		<xsd:sequence>
			<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="at" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="at" type="Date_time"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="date" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="date" type="String" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="weekdays" type="weekdays" minOccurs="0">
				<!--libxsdlt xsd:key name="weekdays">
                        <xsd:selector xpath="day"/>
                        <xsd:field xpath="@day"/>
                    </xsd:key-->
			</xsd:element>
			<xsd:element name="monthdays" type="monthdays" minOccurs="0">
				<!--libxsdlt xsd:key name="monthdays">
                        <xsd:selector xpath="day"/>
                        <xsd:field xpath="@day"/>
                    </xsd:key-->
			</xsd:element>
			<xsd:element name="ultimos" type="ultimos" minOccurs="0">
				<!--libxsdlt xsd:key name="ultimos">
                        <xsd:selector xpath="day"/>
                        <xsd:field xpath="@day"/>
                    </xsd:key-->
			</xsd:element>
			<xsd:element name="month" minOccurs="0" maxOccurs="12">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="weekdays" type="weekdays"/>
						<xsd:element name="monthdays" type="monthdays"/>
						<xsd:element name="ultimos" type="ultimos"/>
					</xsd:choice>
					<xsd:attribute name="month">
						<xsd:simpleType>
							<xsd:list itemType="Month_name"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref="holidays"/>
				<xsd:element ref="holiday" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" type="String"/>
		<xsd:attribute name="schedule" type="String"/>
		<xsd:attribute name="single_start" type="Time_of_day"/>
		<xsd:attribute name="begin" type="Time_of_day"/>
		<xsd:attribute name="end" type="Time_of_day"/>
		<xsd:attribute name="let_run" type="Yes_no"/>
		<xsd:attribute name="repeat" type="Duration"/>
		<xsd:attribute name="once" type="Yes_no"/>
		<xsd:attribute name="start_time_function" type="xsd:NMTOKEN"/>
	</xsd:complexType>
	<xsd:complexType name="scheduler_script">
		<xsd:sequence>
			<xsd:element ref="script"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="Name"/>
		<xsd:attribute name="ordering" type="xsd:nonNegativeInteger"/>
	</xsd:complexType>
	<xsd:complexType name="ultimos">
		<xsd:sequence>
			<xsd:element name="day" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="day" use="required">
						<xsd:simpleType>
							<xsd:list>
								<xsd:simpleType>
									<xsd:restriction base="xsd:nonNegativeInteger">
										<xsd:maxInclusive value="30"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:list>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="web_service">
		<xsd:sequence>
			<xsd:element ref="params" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="Name"/>
		<xsd:attribute name="url_path" type="Url_path" use="required"/>
		<xsd:attribute name="debug" type="Yes_no"/>
		<xsd:attribute name="request_xsdlt_stylesheet" type="File"/>
		<xsd:attribute name="response_xsdlt_stylesheet" type="File"/>
		<xsd:attribute name="forward_xsdlt_stylesheet" type="File"/>
		<xsd:attribute name="job_chain" type="Path"/>
		<xsd:attribute name="timeout" type="xsd:positiveInteger"/>
		<!-- Diese Attribute und die folgenden Attribute schlie_n einander aus -->
	</xsd:complexType>
	<xsd:complexType name="weekdays">
		<xsd:sequence>
			<xsd:element name="day" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="period" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attribute name="day" use="required">
						<xsd:simpleType>
							<xsd:list itemType="Weekday"/>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Xml_payload">
		<xsd:sequence minOccurs="0">
			<xsd:any processContents="skip"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ATTRIBUT-TYPEN-->
	<xsd:simpleType name="Job_chain_node.Action">
		<xsd:restriction base="String">
			<xsd:enumeration value="process"/>
			<xsd:enumeration value="stop"/>
			<xsd:enumeration value="next_state"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Yes_no">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="No">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Yes_no_never">
		<xsd:union memberTypes="Yes_no">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="never"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Md5_checksum">
		<xsd:restriction base="xsd:string">
			<xsd:length value="32" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Name">
		<xsd:restriction base="String">
			<xsd:pattern value="[^/]*"/>
		</xsd:restriction>
		<!-- Eine engere Beschr_ung w_ gut: Buchstabe gefolgt von (Buchstabe, Ziffer, _ und vielleicht -)*  -->
		<!-- Regul_r Ausdruck wie bei Path -->
	</xsd:simpleType>
	<xsd:simpleType name="Path">
		<xsd:restriction base="String">
			<xsd:pattern value="/?([^/]+/)*([^/]*)"/>
		</xsd:restriction>
		<!-- Eine Folge von Name. Regul_r Ausdruck wie bei Name -->
	</xsd:simpleType>
	<xsd:simpleType name="What">
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="Task_id">
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="Order_id">
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="File">
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="Date_time">
		<xsd:annotation>
			<xsd:documentation>"yyyy-mm-dd HH:MM[:SS]"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="Date_time_with_now">
		<xsd:annotation>
			<xsd:documentation>"yyyy-mm-dd HH:MM[:SS]", "now + HH:MM[:SS]" or "now+SECONDS"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
	<xsd:simpleType name="Date_time_with_now_or_period">
		<xsd:union memberTypes="Date_time_with_now">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="period"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Time_of_day">
		<xsd:restriction base="String">
			<xsd:pattern value="\d{1,2}:\d{2}(:\d\d)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Weekday">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:pattern value="[01234567]|(so(nntag)?)|(mo(ntag)?)|(di(enstag)?)|(mi(ttwoch)?)|(do(nnerstag)?)|(fr(eitag)?)|(sa(mstag)?)|(sun(day)?)|(mon(day)?)|(tue(sday)?)|(wed(nesday)?)|(thu(rsday)?)|(fri(day)?)|(sat(urday)?)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Duration">
		<xsd:union memberTypes="xsd:nonNegativeInteger">
			<xsd:simpleType>
				<xsd:restriction base="String">
					<xsd:pattern value="(\d+)|(\d+:\d{2}(:\d\d)?)"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Duration_or_never">
		<xsd:union memberTypes="xsd:nonNegativeInteger">
			<xsd:simpleType>
				<xsd:restriction base="String">
					<xsd:pattern value="(\d+)|(\d+:\d{2}(:\d\d)?)"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="never"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Md5">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Month_name">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="january"/>
			<xsd:enumeration value="february"/>
			<xsd:enumeration value="march"/>
			<xsd:enumeration value="april"/>
			<xsd:enumeration value="may"/>
			<xsd:enumeration value="june"/>
			<xsd:enumeration value="july"/>
			<xsd:enumeration value="august"/>
			<xsd:enumeration value="september"/>
			<xsd:enumeration value="october"/>
			<xsd:enumeration value="november"/>
			<xsd:enumeration value="december"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Positive_duration">
		<xsd:restriction base="Duration">
			<xsd:pattern value=".*[123456789].*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Url_path">
		<xsd:restriction base="String">
			<xsd:pattern value="/.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String">
		<xsd:annotation>
			<xsd:documentation>
                Only characters out of ISO-8859-1 can be used.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\r\n\t&#x20;-&#x7e;&#xa0;-&#xff;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Process_priority">
		<xsd:union memberTypes="Unix_process_priority Windows_process_priority_class"/>
	</xsd:simpleType>
	<xsd:simpleType name="Unix_process_priority">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="-20"/>
			<xsd:maxInclusive value="+20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Windows_process_priority_class">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="idle"/>
					<xsd:enumeration value="below_normal"/>
					<xsd:enumeration value="normal"/>
					<xsd:enumeration value="above_normal"/>
					<xsd:enumeration value="high"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Unix_signal">
		<xsd:union memberTypes="Unix_signal_name xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="Unix_signal_name">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="SIGHUP"/>
			<xsd:enumeration value="SIGINT"/>
			<xsd:enumeration value="SIGQUIT"/>
			<xsd:enumeration value="SIGILL"/>
			<xsd:enumeration value="SIGTRAP"/>
			<xsd:enumeration value="SIGABRT"/>
			<xsd:enumeration value="SIGIOT"/>
			<xsd:enumeration value="SIGBUS"/>
			<xsd:enumeration value="SIGFPE"/>
			<xsd:enumeration value="SIGKILL"/>
			<xsd:enumeration value="SIGUSR1"/>
			<xsd:enumeration value="SIGSEGV"/>
			<xsd:enumeration value="SIGUSR2"/>
			<xsd:enumeration value="SIGPIPE"/>
			<xsd:enumeration value="SIGALRM"/>
			<xsd:enumeration value="SIGTERM"/>
			<xsd:enumeration value="SIGSTKFLT"/>
			<xsd:enumeration value="SIGCHLD"/>
			<xsd:enumeration value="SIGCONT"/>
			<xsd:enumeration value="SIGSTOP"/>
			<xsd:enumeration value="SIGTSTP"/>
			<xsd:enumeration value="SIGTTIN"/>
			<xsd:enumeration value="SIGTTOU"/>
			<xsd:enumeration value="SIGURG"/>
			<xsd:enumeration value="SIGXCPU"/>
			<xsd:enumeration value="SIGXFSZ"/>
			<xsd:enumeration value="SIGVTALRM"/>
			<xsd:enumeration value="SIGPROF"/>
			<xsd:enumeration value="SIGWINCH"/>
			<xsd:enumeration value="SIGPOLL"/>
			<xsd:enumeration value="SIGIO"/>
			<xsd:enumeration value="SIGPWR"/>
			<xsd:enumeration value="SIGSYS"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
